{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/simple-sidebar.css" rel="stylesheet">

</head>
{% include 'widg/navbar.html' %}
<body style="padding-top: 50px">
    {% block body %}
    {% endblock %}
</body>
</html>