{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <link rel="stylesheet" href="../static/css/signin.css">
    <div class="container">
        <div class="row">

                <form  method="post" action="" class="form-signin">
                    {% csrf_token %}
                    {% if not form.errors %}
                        <input name="username" class="form-control" type="text">
                        <input name="password" class="form-control" type="password">
                        <button class="btn btn-lg btn-primary btn-block">ورود</button>
                    {% else %}
                        {% if not form.username.erros %}
                            {% if not form.password.erros %}
                                <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
                            {% endif %}
                        {% endif %}
                        {% if form.username.errors %}
                            <div class="form-group has-warning">
                              <label class="control-label" for="inputWarning1">{{ form.username.errors }}</label>
                              <input name="username" class="form-control" type="text" id="inputWarning1">
                            </div>
                        {% else %}
                            <input name="username" class="form-control" type="text">
                        {% endif %}
                        {% if form.password.errors %}
                            <div class="form-group has-warning">
                              <label class="control-label" for="inputWarning2">{{ form.password.errors }}</label>
                              <input name="password" class="form-control" type="password" id="inputWarning2">
                            </div>
                        {% else %}
                            <input name="password" class="form-control" type="password">
                        {% endif %}

                        <button class="btn btn-lg btn-primary btn-block">ورود</button>
                    {% endif %}
                </form>

        </div>
    </div>
{% endblock %}